Django==5.1.3
ariadne-django==0.3.0
ariadne==0.24.0
black==24.10.0
dj-database-url==2.3.0
django-cors-headers==4.6.0
django-extensions==3.2.3
graphql-core==3.2.5
gunicorn==23.0.0
ipython==8.31.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
